{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <h1>Add Festival Event </h1>
        <p>Enter festival you went to.</p>
        {{ render_form(form) }}
        <div class="mb-3">
          <label for="ticketsAvailable" class="form-label">Tickets Available</label>
          <input type="number" class="form-control" id="ticketsAvailable" name="tickets_available" value="100" required>
      </div>
      
      </div>
    </div>
  </div>

{% endblock %}