<style>
    .edit-button {
    position: relative;
    z-index: 2;
}
</style>

<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
    <div class="card event-card shadow bg-body-tertiary">
        {% if not booking %}
            <img src="{{ event.image }}" class="card-img-top event-card-img" alt="...">
            <h5 class="card-title mt-2 ms-3">{{ event.title }}</h5>
        {% else %}
            <h5 class="card-title mt-2 ms-3">{{ booking.event.title }}</h5>
        {% endif %}
        <div class="card-body">
            {% if not booking %}
                <p class="card-text">{{ event.dateTime }}<br>{{ event.locationName }}<br>${{ event.price }} per ticket</p>
                {% if event.user_id == current_user.id and event.status != "Cancelled" %}
                    <form action="{{ url_for('main.cancel', id=event.id) }}" method="POST" class="edit-button">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="submit" value="Cancel Event?" class="btn btn-outline-danger">
                    </form>
                {% endif %}
                <a type="button" class="btn btn-outline-success btn-sm" href="{{ url_for('main.event', id=event.id) }}">{{ event.status }}</a>
            {% else %}
                <p class="card-text">Your have {{ booking.ticketNum }} ticket(s)<br>Order ID: {{ booking.id }}</p>
                <p class="card-text text-muted">{{ booking.event.dateTime.strftime("%d/%m/%Y @ %I:%M %p") }}<br>{{ booking.event.locationName }}</p>
            {% endif %}
        </div>
    </div>
</div>